<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="styles/passwordReset.css" />
  </head>
  <body>
    <div class="container">
      <h1>Password Reset Request</h1>
      <p>Hi <%= firstName %>,</p>
      <p>
        We received a request to reset the password on your PrimePick Account.
        Please use the code below to reset your password:
      </p>
      <p class="reset-code"><%= url.split('=')[1] %></p>
      <p>This code is valid for 10 minutes.</p>
      <p>
        If you did not request this password reset, please ignore this email or
        contact support if you have questions.
      </p>
      <p>Thanks for helping us keep your account secure.</p>
      <p>-Hossam Hatem</p>
    </div>
  </body>
</html>
